.dashboard-enter {
    opacity: 0;
  }
  
  .dashboard-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .dashboard-exit {
    opacity: 1;
  }
  
  .dashboard-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .login-enter {
    opacity: 0;
  }
  
  .login-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .login-exit {
    opacity: 0;
  }
  
  .login-exit-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .loading-enter {
    opacity: 0;
  }
  
  .loading-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .loading-exit {
    opacity: 1;
  }
  
  .loading-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }


/* React Date time picker */

.react-datetime-picker{
  width: 100%;

  .react-datetime-picker__wrapper{
    padding: 12px 8px;
    border-radius: 7px;
    border-color: #ddd;
  }
}

//  Ck editor

.ck-focused, .ck-blurred{
  min-height: 300px !important;
  padding: 15px !important;
}



