@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');
:root {
  --primary-color: #1761fd;
  --primary-color-linear: linear-gradient(
    14deg,
    #1761fd 0%,
    rgba(23, 97, 253, 0.6)
  );

  --font-primary:'Nunito', sans-serif;
  --font-secondary: 'Space Mono', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-primary) !important;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
